doctype html
html
	head
		title=title
		link(rel='stylesheet' href='/css/base.css')
	body
		app
		script(type='text/javascript' src='/ts/dist/todo/polyfills.bundle.js')
		script(type='text/javascript' src='/ts/dist/todo/main.bundle.js')
