// colors

// white
$white-00:             #fafafa;
$white-01:             #f5f5f5;
$white-02:             #f6f6f6;
$white-03:             #fcfcfc;

// navy-black
$navy-black-00:        #1d252c;
$navy-black-01:        #2c3239;
$navy-black-02:        #323e48;
$navy-black-03:        #515d6a;
$navy-black-04:        #5b6770;
$naby-black-05:        #7c868d;

// blue
$blue-00:              #1a8cff;
$blue-01:              #3098bf;
$light-blue-00:        #e5f2f7;
